body {
    color: #c95540;
    /* background-image: url("images/pexels-souvenirpixels-414612.jpg"); */
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: auto;
}

/*  */