body {
    /* color: white; */
    /* background-color: antiquewhite;
    background-image: url("https://grafana.com/media/home/hero/slides/Grafana-assistant.png");
    background-repeat: no-repeat;
    background-position: center; */

    /* background: antiquewhite url("https://grafana.com/media/home/hero/slides/Grafana-assistant.png") no-repeat center; */

    background-size: auto;

    /* background-attachment: fixed; */
    /* height: 100%; */
    /* 100%, 100px, 100em, 100rem, 100vh */
    /* opacity: 0.2; */
}

/* vh = viewport height */
/* em = compared to parent's font-size */
/* rem = comparend to the root element's font-size(16px) */
/* DIFFERENT COLOR MODELS */
/* rgb = red, green and blue */
/* hsl = hue, saturation and lightness */

.parent {
    height: 100px;
    /* background-color: blue; */
    font-size: 10px;
    /* border-width: 5px; */
    /* border-radius: 10px; */

}

/* #parentid {
    height: 100px;
} */

.child {
    height: 50%;
    /* background-color: red; */
    font-size: 5rem;
    border-style: hidden;
    border-width: 5px;
    /* border-width: 5px; */
    /* border-radius: 15%; */
    /* border-width: 50px; */
    /* 5*16px */
}

table {
    border-collapse: collapse;
    /* ensures shared borders */
}

td {
    border: 20px solid black;
    border-width: 25px 10px 4px 35px;
    padding: 8px;
}

td.no-border-none {
    border-style: none;
}

td.no-border-hidden {
    border-style: hidden;
}

.margin {
    height: 300px;
    /* width: 300px; */
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;


    /* margin: 50px; */
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    display: block;
    /* display: inline;
    display: inline-block;
    display: flex;
    display: grid; */
}

.another {
    border-style: solid;
    height: 50px;
    margin-top: 20px;
}